<!-- editeur.component.html -->
<div class="container">
  <h2>Liste des editeurs</h2>

  <button class="btn-primary" (click)="openAddForm()">Ajouter un editeur</button>

  <div *ngIf="showForm" class="mt-3">
    <h3>{{ isEditing ? 'Modifier' : 'Ajouter' }} un editeur</h3>
    <form>
      <input type="text" placeholder="Nom" [(ngModel)]="formData.nom" name="nom" /><br>
      <input type="text" placeholder="Pays" [(ngModel)]="formData.pays" name="pays" /><br>
      <button type="button" class="btn-primary mt-3" (click)="submit()">
        {{ isEditing ? 'Modifier' : 'Ajouter' }}
      </button>
      <button type="button" class="btn-delete mx-1 mt-3" (click)="cancel()">Annuler</button>
    </form>
  </div>

  <table class="mt-3">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Pays</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let editeur of editeurs">
        <td>{{ auteur.nom }}</td>
        <td>{{ auteur.pays }}</td>
        <td>
          <button class="btn-edit" (click)="openEditForm(editeur)">Modifier</button>
          <button class="btn-delete mx-1" (click)="delete(editeur.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
