
Hello {{ prenom }}

<input type="text" [value]="prenom" (input)="updatePrenom($event)" />

<button (click)="resetPrenom()">Changer</button>

<hr />

<input type="text" [(ngModel)]="prenom" />

<hr />

<select [(ngModel)]="couleur">
  <option value="black">Noir</option>
  <option value="blue">Bleu</option>
  <option value="red">Rouge</option>
  <option value="#d2138b">Rose flashy</option>
</select>

<input type="color" [(ngModel)]="couleur">

{{ couleur }}

<p [style.color]="couleur">
  Le paragraphe qui change de couleur
</p>

<hr />

<input type="number" [(ngModel)]="formTodo.id" />
<input type="text" [(ngModel)]="formTodo.title" />
<input type="checkbox" [(ngModel)]="formTodo.completed" />
<input type="number" [(ngModel)]="formTodo.userId" />

<button (click)="addTodo()">Ajouter le Todo</button>

<ng-template [ngIf]="formTodo.id > 0">
  <p>
    Le titre du Todo : {{ formTodo.title }}
  </p>
</ng-template>

<p *ngIf="formTodo.id > 0">
  Le titre du Todo : {{ formTodo.title }}
</p>

@if (formTodo.id > 0) {
  <p>
    Le titre du Todo : {{ formTodo.title }}
  </p>
}

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Complété V1</th>
      <th>Complété V2</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>

      <td *ngIf="todo.completed == true; else pas_termine">Terminé !</td>
      <!-- <td *ngIf="todo.completed != true">Pas terminé !</td> -->

      <ng-template #pas_termine>
        <td>Pas terminé !</td>
      </ng-template>

      <td>
        @if (todo.completed) {
          Terminé !
        }

        @else {
          Pas terminé !
        }
      </td>
    </tr>
  </tbody>
</table>

