<h1>
    <ng-content></ng-content>
</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Complété V1</th>
      <th>Complété V2</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let todo of todos; trackBy todoById">
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>

      <td *ngIf="todo.completed == true; else pas_termine">Terminé !</td>
      <!-- <td *ngIf="todo.completed != true">Pas terminé !</td> -->

      <ng-template #pas_termine>
        <td>Pas terminé !</td>
      </ng-template>

      <td>
        @if (todo.completed) {
          Terminé !
        }

        @else {
          Pas terminé !
        }
      </td>

      <td>
        <button (click)="onDelete(todo)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>