/*  HEADER  */

header
{
  background-color: #812929b2;
  text-align: center;
  border-radius: 15px;
  color: #ffffff;
  padding: 20px;
   font-family: 'Orbitron', sans-serif;
}





body.formule1
{
  background-repeat: no-repeat;
  background-image:url("../asset/img/f1.png");
  background-size: cover;
  min-height: 100vh;
}

body.football
{
  background-repeat: no-repeat;
  background-image:url("../asset/img/ol.jpg");
  background-size: cover;
  min-height: 100vh;
  
}

table
{
background-color:#812929b2;
border-collapse: collapse;
width: 100%;
border-radius: 15px;

}

table.intable
{
background-color:#81292900;
border-collapse: collapse;
width: 100%;
border-radius: 15px;

}

tr:nth-of-type(even)
{
  color:#0062ff;
}

tr:nth-of-type(odd)
{
  color:#ffffff;
}

th
{
  
    font-size:20px;

}

