<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>quest_front</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/error404.jsp</location>
  </error-page>
  
  
  
  <jsp-config>
  	<jsp-property-group>
  	<url-pattern>*.jsp</url-pattern>
  	<include-prelude>/WEB-INF/includesPartout.jsp</include-prelude>
  	<!-- <include-coda>/footer.jsp</include-coda>   inclut en bas de chaque jsp une page footer.jsp-->
  	</jsp-property-group>
  </jsp-config>
 
</web-app>